.transmet {
    text-align: center;
    h3 {
        font-size: 1.9rem;
        font-weight: 900;
        color: $font-color;
        margin: 3% auto;
    }
    .container {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__box {
            img {
                max-width: 146px;
                max-height: 146px;
            }
            p {
                font-size: 1.1rem;
                color: $headcolor;
                font-weight: 700;
                margin-top: 5%;
            }
        }
    }
}