$black:hsl(0, 0%, 0%);
$headcolor:rgb(4, 94, 139);
$font-color:hsl(200, 83%, 37%);
$font-num:#f3f2f2;
$color5:hsl(137, 49%, 41%);
$font-gris:hsl(0, 0%, 50%);
$bgcolor1:hsl(201, 52%, 88%);
$bgcolor2:hsl(50, 91%, 53%);