$black:hsl(0, 0%, 0%);
$headcolor:hsl(215, 82%, 34%);
$font-color:hsl(200, 83%, 37%);
$font-num:hsl(0, 0%, 100%);
$color5:hsl(137, 49%, 41%);
$font-gris:hsl(0, 0%, 50%);
$bgcolor1:hsl(201, 52%, 88%);
$bgcolor2:hsl(50, 91%, 53%);