$color1:hsl(0, 0%, 0%);
$headcolor:hsl(215, 72%, 36%);
ù!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!:hsl(200, 83%, 37%);
$color4:hsl(0, 0%, 100%);
$color5:hsl(137, 49%, 41%);
$color6:hsl(0, 0%, 50%);
$bgcolor1:hsl(201, 52%, 88%);
$bgcolor2:hsl(50, 91%, 53%);
$primaryfont: Cairo;