header {
  background-image: url(../image/bg-nav-1.png);
  background-size: cover;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-family: 'Cairo', sans-serif;
}

header nav {
  background-image: url(../image/bg-nav-2.png);
  background-size: cover;
  padding: .6rem 0rem .6rem 1rem;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo__sante {
  width: 4%;
}

header nav .menu {
  float: right;
  padding-right: 2rem;
}

header nav .menu li {
  display: inline-block;
  padding: .5rem .5rem;
}

header nav .menu li .menu__1 {
  color: black;
}

header nav .menu li a {
  color: #1078AD;
  font-weight: 700;
  text-transform: capitalize;
  padding-right: 2.5rem;
  line-height: 2px;
}

header nav button {
  height: 2rem;
  border: 1px solid #1078AD;
  border-radius: 10px;
  background-color: transparent;
  text-transform: capitalize;
  padding: 0 0 0 .8em;
  margin-top: 2%;
}

header nav button a {
  color: #1078AD;
}

header nav button a i {
  padding: 0 0 0 .5em;
  color: #f4d01a;
  font-size: 24px;
}

header .hero {
  background-color: #f4d01a;
  background-size: cover;
  text-align: center;
  height: 20vh;
}

header .hero__info {
  font-size: 1em;
  color: black;
  padding: 10% auto 5%;
  text-transform: uppercase;
}

header .hero__description {
  width: 35%;
  margin: 0 auto;
  font-size: .8rem;
  font-weight: 700;
  color: #1078ad;
  line-height: 30px;
}

.test {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.test__right {
  text-align: center;
  margin: 2% auto;
}

.test__right h3 {
  color: #1078AD;
  font-weight: 800;
}

.test__right img {
  margin-top: 3%;
}

.test__right p {
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 700;
  color: gray;
}

.test__right button {
  width: 100%;
  padding: 1% 0;
  margin: 3% auto;
  color: #fff;
  font-size: large;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #1078AD;
  border: none;
  border-radius: 5px;
}

.symptome {
  width: 50%;
  margin: auto;
  text-align: center;
}

.symptome h1 {
  font-size: 1.8rem;
  font-weight: 900;
  font-style: bolder;
  color: #1078AD;
  margin-bottom: 5%;
}

.symptome .icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.symptome .icon__box p {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: bolder;
  color: black;
  line-height: 1;
}

.symptome .icon__box2 {
  margin-top: 5%;
}

.symptome .icon__box4 {
  margin-top: 5%;
}

.recommandation {
  background-color: #1078AD;
  margin-top: 5%;
}

.recommandation h2 {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1%;
  text-align: center;
  color: #f3f2f2;
}

.recommandation .container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommandation .recommandation__conseil p {
  font-size: 1.4rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 5%;
}

.recommandation .recommandation__conseil p span {
  color: black;
}

.recommandation .recommandation__appel {
  text-align: center;
  width: 40%;
  margin-top: 3%;
}

.recommandation .recommandation__appel p {
  color: #f4d01a;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 2%;
}

.recommandation .recommandation__appel button {
  background-color: #f4d01a;
  padding: .5rem 1rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: #1078AD;
  margin: 3% auto;
  border-radius: 5px;
  border: none;
}

.recommandation .recommandation__appel div {
  font-size: 1.2rem;
  padding-bottom: 2%;
}

.recommandation .recommandation__appel div a {
  color: #fff;
  -webkit-text-decoration: underline #f4d01a !important;
          text-decoration: underline #f4d01a !important;
  font-size: 1.3rem;
  font-style: bolder;
  letter-spacing: 1px;
}

.demarage-test {
  background-image: url(../image/bg-nav-1.png);
  background-size: cover;
  background-color: #1078AD;
  text-align: center;
  padding: 1%;
}

.demarage-test p {
  color: #1078ad;
  font-size: 1.5rem;
  font-weight: 800;
}

.demarage-test button {
  width: 40%;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #1078AD;
  border-radius: 3px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Cairo', sans-serif;
}

body {
  position: relative;
  height: 3000px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */