@import "variable";
@import "header";
@import "acceuil";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Cairo', sans-serif;
    ;
}

body {
    position: relative;
    height: 3000px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}