.steper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 3%;
    margin-top: 6%;
    &__information {
        display: inline-block;
    }
    &__question {
        display: inline-block;
    }
    &__resultat {
        display: inline-block;
    }
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $headcolor;
    }
    .porte-par {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $bgcolor2;
        border: 8px $bgcolor1 solid;
    }
    p {
        color: $headcolor;
        font-size: 1.4rem;
        font-weight: 800;
        margin-left: -25%;
    }
}

.preambule {
    width: 70%;
    border-radius: 2px;
    background-color: #E9ECEF;
    margin: auto;
    text-align: center;
    padding: 1%;
    h3 {
        color: $headcolor;
        font-size: 1.4rem;
        font-weight: 800;
    }
    p {
        line-height: 2;
        font-size: 1.1rem;
        padding: 2%;
    }
}

.btn__lancer {
    width: 20%;
    margin: 2% 37.5%;
    background-color: #93C2DA;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 800;
    color: $headcolor;
    border-radius: 2px;
    border: none;
    height: 3rem;
}

.btn__lancer:hover {
    background-color: $headcolor;
    color: #fff;
    border: none;
}

#questionnaire {
    width: 75%;
    height: 300px;
    margin: auto;
    border: 1px solid #000;
    display: none;
    .barre {
        background-color: #F7F7F7;
        padding: 1%;
        display: flex;
        div {
            font-size: 1.3rem;
            font-weight: 800;
        }
        .progress__bar {
            background-color: #E8F2F7;
            width: 90%;
            height: .9rem;
            border-radius: 10px;
            margin: auto;
            .progress__question {
                width: 4.54%;
                height: .9rem;
                background-color: $headcolor;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    }
    .quiz {
        .question {
            width: 80%;
            margin: auto;
            padding: 1%;
        }
        .reponse-inputs {
            width: 80%;
            margin: auto;
            padding: 1%;
        }
        .btn-reponse {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button {
                width: 5.5rem;
                height: 2.5rem;
                background-color: $headcolor;
                color: #fff;
                border: none;
                border-radius: 2px;
                font-size: 1.1rem;
                font-weight: 800;
            }
            button:hover {
                background-color: #E8F2F7;
                color: $headcolor;
                border: 2px solid $headcolor;
            }
        }
    }
}