@import "../base/normalize";
@import "../Resume/variable";
@import "../section/header";
@import "../section/sectiontest";
@import "../section/sectionsymptome";
@import "../section/sectioncrecoman";
@import "../section/sectiondrmtest";
@import "../section/footer";
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}