@import "variable";
@import "header";
@import "sectionprotection";
@import "sectioninformation";
@import "sectiontransmet";
@import "sectioncrecoman";
@import "sectiondrmtest";
@import "footer";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Cairo', sans-serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}