footer {
    height: 50vh;
    .logo {
        width: 60px;
        margin: 1% 45%;
    }
    .contenaur {
        display: flex;
        flex-direction: row;
        text-align: center;
        &__menu {
            width: 25%;
            align-self: center;
            margin-bottom: 3%;
            ul {
                text-align: center;
                .btn__footer {
                    height: 2rem;
                    border: 1px solid $headcolor;
                    border-radius: 5px;
                    background-color: transparent;
                    text-transform: capitalize;
                    padding: 1% 5% 1% 2%;
                    margin-bottom: 3%;
                    width: 6rem;
                    a {
                        text-transform: uppercase;
                        color: $black;
                        i {
                            color: $bgcolor2;
                            padding-left: 6%;
                            font-size: 1.2rem;
                        }
                    }
                }
                .menu__footer {
                    font-size: 1.1rem;
                    font-weight: 700;
                    text-transform: capitalize;
                    line-height: 3;
                }
            }
        }
        &__contact {
            width: 30%;
            font-weight: 900;
            h3 {
                color: $headcolor;
                font-size: 1.5rem;
                font-weight: 800;
            }
            p {
                color: $black;
                font-size: 1.2rem;
                span {
                    color: $color5;
                    font-size: 1.7rem;
                    font-weight: 800;
                }
            }
        }
        &__discription {
            width: 45%;
            text-align: left;
            color: $font-gris;
            padding: 5% 2%;
            font-size: .9rem;
            letter-spacing: .5px;
            line-height: 2;
        }
    }
    .bg__footer {
        background-color: $headcolor;
        height: 5vh;
    }
}